.header {
    padding: 30px 80px 40px;
    background-color: #ffff;
    background-image: url(../images/background_header.svg);
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    margin-top: 183px;
    max-width: 729px;
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 60px; 
    line-height: 72px; 
    letter-spacing: -0.6px;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", Times New Roman, Serif; 
    font-style: italic;  
    color: #3F96F3;
}

.header__description {
    margin-top: 28px 0 0;
    max-width: 683px;
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #6f6f6f;
}

.header__paragraph {
    margin: 0;
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;
    color: #6f6f6f;
}